{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

            {% block title %}New Booking{% endblock %}

        {% block body %}
            <div id="calendar-holder"></div>
            <div class="container">
                <h1>Réservez votre menu</h1>
                <ul>
                    <li><strong>Entrée :</strong>{{ booking.menu.entree }}</li>
                    <li><strong>Plat :</strong>{{ booking.menu.plat }}</li>
                    <li><strong>Dessert :</strong>{{ booking.menu.dessert }}</li>
                </ul>
                <h3>Votre Chef</h3>
                <p>{{ booking.menu.chef.prenom }} {{ booking.menu.chef.nom }}</p>
                <h3>Tarif</h3>
                <p>{{ booking.menu.price }} &euro;</p>

                {{ include('booking/_form.html.twig') }}

                <a href="{{ path('booking_index') }}">back to list</a>
                
            </div>
        
        {% endblock %}
       

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
  
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap3',
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
{% endblock %}
