{% extends 'base.html.twig' %}

            {% block title %}Nouvelle reservation - Domilicious{% endblock %}

        {% block body %}
  
    <div id="page-content" class="archives-page">
		<div class="container">
			<div class="row">
                <div id="main-content" class="col-md-12">
					<article class="contact">
						<div class="art-content">
                            <h1 class="text-center">Réservation</h1>
                            <h3>Votre Menu</h3>
                                <div class="container">
                                    <img src="{{ asset('uploads/images/chefs/') }}{{ booking.menu.image }}" class="img-thumbnail photo-res">
                                        <ul>
                                            <li><strong>Entrée :<br>
                                            </strong>{{ booking.menu.entree }}</li>
                                            <li><strong>Plat :<br>
                                            </strong>{{ booking.menu.plat }}</li>
                                            <li><strong>Dessert :<br>
                                            </strong>{{ booking.menu.dessert }}</li>
                                        </ul>
                                </div>
                            <h3>Votre Chef</h3>
                                <div class="container">
                                    <p>{{ booking.menu.chef.prenom}} {{ booking.menu.chef.nom }}</p>
                                    <img src="{{ asset('uploads/images/chefs/') }}{{ booking.menu.chef.image }}" class="img-thumbnail">
                                </div>
                            <h3>Tarif</h3>
                                <p>{{ booking.menu.price }} &euro;</p>
                                    {{ include('booking/_form.html.twig') }}
                                <a href="{{ path('booking_index') }}">Retour</a>
                                {# <a href="{{ path('booking_calendar') }}">Voir le calendrier</a>#}
						</div>
					</article>
                </div>
            </div>
        </div>
    </div>
                
{% endblock %}

           <section class="box-content box-2 box-style" id="menu">
			<div class="container">
				<div class="row heading">
                <h1>Réservez votre menu</h1>
                <ul>
                    <li><strong>Entrée :</strong>{{ booking.menu.entree }}</li>
                    <li><strong>Plat :</strong>{{ booking.menu.plat }}</li>
                    <li><strong>Dessert :</strong>{{ booking.menu.dessert }}</li>
                </ul>
                <h3>Votre Chef</h3>
                <p>{{ booking.menu.chef.prenom }} {{ booking.menu.chef.nom }}</p>
                <h3>Tarif</h3>
                <p>{{ booking.menu.price }} &euro;

                        <div id="paypal-button-container"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR" data-sdk-integration-source="button-factory"></script>
                        <script>
                        paypal.Buttons({
                            style: {
                                shape: 'pill',
                                color: 'gold',
                                layout: 'vertical',
                                label: 'pay',
                                
                            },
                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '1'
                                        }
                                    }]
                                });
                            },
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                });
                            }
                        }).render('#paypal-button-container');
                        </script>
                </p>

                {{ include('booking/_form.html.twig') }}

                <!--<a href="{{ path('booking_index') }}">back to list</a> -->
{#                <a href="{{ path('booking_calendar') }}">Voir le calendrier</a>#}
            </div>
            </div>
            </section>
        
        {% endblock %}
       
