{% extends 'base.html.twig' %}

{% block title %}Chef index{% endblock %}

{% block body %}
    <!-- <h1>Chef index</h1> -->

    <!-- TEST MISE EN PAGE-->
    
    <section class="box-content box-3" id="staff">
			<div class="container">
                {% for chef in chefs %}
				<div class="row heading">
               	    <div class="col-lg-12">	
	                    <h2>Cuisine : {{ chef.typeDeCuisine }}</h2>
                    	
				</div>
				<div class="row center">
					<div class="col-md-6">
						<div class="wrap-img">
							<img src="{{ asset('uploads/images/chefs/')}}{{ chef.image }}" class="image-chef">
						</div>
						<ul class="list-inline social-buttons">
                            <!-- Lien icon bouton vers le menu + lien icon bouton booking -->
                            <li><a href="{{ path('chef_show', {'id': chef.id}) }}"><i class="fa fa-search"></i></a>
                            </li>
                                                 
                            
                        </ul>
					</div>
					<div class="col-md-6">
						<div class="row">
							<h3>Chef {{ chef.prenom }} {{ chef.nom }}</h3>
							<p>Présentation de la base de données: {{ chef.presentation }}  - <br>Nibh congue scripserit ne mel, pri ne amet mnesarchum. Dicat maiestat per modo simul signiferumque te. Dolore intellegat eu cum, ut est Nostro eloquentiam interpretaris vel id. Minim consequuntur et eam, nonumy equidem pri. Vide virtute ocurreret per in antiopam.</p>
                            <p>Menu de la base de données: {{ chef.menu }}  - <br>Nibh congue scripserit ne mel, pri ne amet mnesarchum. Dicat maiestat per modo simul signiferumque te. Dolore intellegat eu cum, ut est Nostro eloquentiam interpretaris vel id. Minim consequuntur et eam, nonumy equidem pri. Vide virtute ocurreret per in antiopam.</p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</section>
    

<!-- END TEST MISE EN PAGE-->


<!--
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Image</th>
                <th>Presentation</th>
                <th>Type_de_cuisine</th>
                <th>Menu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.nom }}</td>
                <td>{{ chef.prenom }}</td>
                <td><img src="{{ asset('uploads/images/chefs/')}}{{ chef.image }}" class="image-chef">
                </td>
                <td>{{ chef.presentation }}</td>
                <td>{{ chef.typeDeCuisine }}</td>
                <td>{{ chef.menu }}</td>
                <td>
                    <a href="{{ path('chef_show', {'id': chef.id}) }}">show</a>
                    <a href="{{ path('chef_edit', {'id': chef.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chef_new') }}">Create new</a> 
    -->
{% endblock %}
