{% extends 'base.html.twig' %}

{% block title %}Chef index{% endblock %}

{% block body %}
    <h1 class="text-center">Nos Chefs index</h1>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Image</th>
                <th>Presentation</th>
                <th>Type de cuisine</th>
                <th>Menu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.nom }}</td>
                <td>{{ chef.prenom }}</td>
                <td><img src="{{ asset('uploads/images/chefs/')}}{{ chef.image }}" class="image-chef">
                </td>
                <td>{{ chef.presentation }}</td>
                <td>{{ chef.typeDeCuisine }}</td>
                <td>{{ chef.menu }}</td>
                <td>
                    <a href="{{ path('chef_show', {'id': chef.id}) }}">show</a>
                    <a href="{{ path('chef_edit', {'id': chef.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('chef_new') }}">Create new</a>
{% endblock %}
